.main{
    flex-shrink: 0;
    text-align: center;
    background-color: #527ca4;
    color: white;
    height: 90vh;   
}
    .footer {
    margin: 10px 40px 0 40px;
        

        &__top{
            border-bottom: white 1px solid;
            margin-top: 100px;
        }
        &__bottom{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 80px;
           

            &__images{
                display: flex;
                flex-direction: row;  
            }
        }

      }

      .footer-social-media{
        width: 30px;    
        height: 30px;
      }
