.main{
    flex-shrink: 0;
    text-align: center;
    background-color: #527ca4;
    color: white;
    height: 90vh;   
}
    .footer {
    margin: 10px 40px 0 40px;
        

        &__top{
            border-bottom: white 1px solid;
            margin-top: 100px;
            margin-bottom: 30px;
        }
        &__bottom{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 80px;
           
            &__terms{

               &__agreement{
                   text-decoration: underline;
               }
            }
            &__logo{
                width: 150px;
                height: 40px;
            }

            &__images{
                display: flex;
                flex-direction: row; 
                justify-content: space-between; 
                margin-right: 50px; 
            }
        }

      }

      .footer-social-media{
        width: 30px;    
        height: 30px;
        display: flex;
       margin-right: 30px; 
      }
