.sign-button {
  height: 62px;
  width: 133px;
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 42px;
  background-color: #15324e;
  color: #ffffff;
}
