.sign-button {
  height: 62px;
  width: 140px;
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 42px;
  background-color: #15324e;
  color: #ffffff;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .sign-button {
    height: 50px;
    width: 120px;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    line-height: 30px;
  }
}

@media only screen and (max-width: 425px) {
  .sign-button {
    height: 40px;
    width: 100px;
    font-weight: 400;
    font-size: 22px;
  }
}
