.text-container {
  margin-left: 25%;
}

.text-content {
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 70px;
  display: inline;
}

.sign-in-link {
  cursor: pointer;
  color: #4248f5;
}

.forms-container {
  margin-left: 24%;
}

.sign-in-button {
  margin: 0px 0px 0px 69%;
}
