.text-container {
  margin-left: 24%;
}

.text-content {
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 70px;
  display: inline;
  text-decoration: none;
}

.sign-in-link {
  cursor: pointer;
  color: #4248f5;
}

.forms-container {
  margin-left: 24%;
}

.sign-in-button {
  width: 60.7%;
  text-align: right;
  margin-top: 10px;
}

@media only screen and (max-width: 1000px) {
  .text-content {
    font-weight: 500;
    font-size: 30px;
    line-height: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .text-content {
    font-size: 22px;
    line-height: 30px;
  }

  .text-container {
    margin-left: 20px;
    margin-top: 20px;
  }
  .forms-container {
    margin-left: 20px;
  }

  .sign-in-button {
    text-align: left;
  }
}
